<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas de Cocina</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div id="agrupar">
        <header id="cabecera">
                <h1>Recetas de Cocina</h1> 
                <img class="utng" src="./pics/logotipoUTNG.png" alt="logotipoUTNG">
        </header>
        <nav id="menu">
            <ul>
                <li><a href="#">Carnes</a></li>
                <li><a href="#">Pescados</a></li>
                <li><a href="#">Bebidas</a></li>
                <li><a href="#">Postres</a></li>
                <li>
                    <form action="#" method="get">
                        <input type="text" id="buscador" name="buscador" value=""><br>
                    </form> 
                </li>
                <li><input type="submit" id="buscar" value="Buscar"></li>
            </ul>
        </nav>
        <div class="main-content">
            <section id="seccion">
                <h2>Recetas de carne</h2>
                <article class="receta">
                    <h2>Conejo al ajillo</h2>
                    <figure>
                        <img src="./pics/conejo.jpg" alt="conejo">
                        <figcaption>Una de las formas más tradicionales de preparar el conejo está en cocer con abundantes ajos</figcaption>
                    </figure>
                    <div class="conejo">
                        <aside class="ingredientes">
                            <h3>Ingredientes</h3>
                            <ul>
                                <li>1 conejo</li>
                                <li>1 cabeza de ajos</li>
                                <li>1 vaso de vino blanco</li>
                                <li>aceite</li>
                                <li>sal</li>
                            </ul>
                        </aside>
                        <aside class="elaboracion">
                            <h3>Elaboración</h3>
                            <ol>
                                <li>Primero partimos el conejo en trozos pequeños y los ponemos a freir en un sartén con abundante aceite, a fuego lento. Le añadimos el vino y esperamos a que se dore.</li>
                            </ol>
                        </aside> 
                    </div>
                    <time>Publicado el 28 de junio de 2024</time>
                </article>
                <article class="receta">
                    <h2>Carne tártara</h2>
                    <figure>
                        <img src="./pics/carne_tartara.jpg" alt="Carne tártara">
                        <figcaption>Esta carne tártara es ideal para comerse en tacos, tostadas o simplemente así</figcaption>
                    </figure>
                    <div class="Carne">
                        <aside class="ingredientes">
                            <h3>Ingredientes</h3>
                            <ul>
                                <li>1 kilogramo de carne de res molida</li>
                                <li>1/2 cebolla</li>
                                <li>1 diente de ajo</li>
                                <li>1 cebolla picada en cubos</li>
                                <li>1 jitomate picado en cubos</li>
                                <li>Cilantro al gusto, picado finamente</li>
                                <li>1 aguacate partido en tiras</li>
                                <li>Chile cuaresmeño</li>
                                <li>Jugo de 7 limones</li>
                                <li>1 litro de agua</li>
                                <li>Sal</li>

                            </ul>
                        </aside>
                        <aside class="elaboracion">
                            <h3>Elaboración</h3>
                            <ol>
                                <li>Colocamos una olla el agua al fuego</li>
                                <li>Añadimos el trozo de cebolla y el diente de ajo</li>
                                <li>Añadimos la carne molida</li>
                                <li>Añadimos sal al gusto</li>
                                <li>Tapamos la olla y dejamos en el fuego por 30 minutos</li>
                                <li>Retiramos del fuego y drenamos</li>
                                <li>Colocamos en un recipiente amplio la carne molida</li>
                                <li>Añadimos el jitomate, la cebolla, el cilantro y el chile</li>
                                <li>Integramos perfectamente</li>
                                <li>Añadimos el jugo de limón y sal al gusto</li>
                                <li>Volvemos a integrar</li>
                            </ol>
                        </aside>
                    </div>
                    <time>Publicado el 29 de junio de 2024</time>
                </article>
                <H2>Recetas de pescado</H2>
                <article class="pescado">
                    <h2>Huachinango al mojo de ajo</h2>
                    <figure>
                        <img src="./pics/pescado1.jpg" alt="Huachinango al mojo de ajo">
                        <figcaption>Pescado frito al mojo de ajo con perejil, salsa inglesa, aceite de oliva, sal de ajo y pimienta</figcaption>
                    </figure>
                    <div class="contenido">
                        
                        <aside class="ingredientes">
                            <h3>Ingredientes</h3>
                            <ul>
                                <li>2 huachinangos limpios sin escamas y vísceras</li>
                                <li>1 cabeza de ajos</li>
                                <li>salsa inglesa al gusto</li>
                                <li>aceite de oliva al gusto</li>
                                <li>1 cucharadita de sal de ajo</li>
                                <li>sal y pimienta al gusto</li>
                                <li>2 ajos en láminas</li>
                            </ul>
                        </aside>
                        <h3>Elaboración</h3>
                        <ol class="pescado">
                            <a>Se limpia muy bien el pescado de escamas y vísceras, se seca con papel absorvente. Se le hacen cortes transversales.</a>
                            <br>
                            <a>En un mortero se muele la cabeza de ajos, y se le agregan el perejil, aceite de oliva, salsa inglesa, sal deajo sal y pimienta.</a>
                            <br>
                            <a>Con una brocha se unta la mezcla por dentro y por fuera de los pescados. Se frien en suficiente aceite en un sarten a fuego alto, una vez que ya estan dorados se les agregan las láminas de ajo sobre el pescado.</a>
                            <br>
                            <a>Se sirve con ensalada.</a>
                        </ol>
                    </div>
                    <time>Publicado el 30 de junio de 2024</time>
                </article>
            </section>
            <aside id="publicidad">
                <h2>Publicidad</h2>
                <ul>
                    <li><a href="https://www.oster.com.mx/">Oster licuadora</a></li>
                    <img src="./pics/publicidad1.jpg" alt="Licuadora">
                    <li><a href="https://www.taurus.com.mx/">Tostadora Taurus</a></li>
                    <img src="./pics/publicidad2.jpg" alt="Tostadora">                    
                </ul>
            </aside>
        </div>
        <footer id="pie">
            <p>&copy; 2024 Recetas de Cocina. Todos los derechos reservados.</p>
            <h4>Alumno:Alejandro Hernández González Grupo:GEVN0331 Asignatura:Aplicaciones Web</h4>
        </footer>
    </div>
</body>
</html>


                
<router-outlet />